#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}
.images{
  width: 300px;
  height: 200px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemContainer{
  width: 600px;
  border: solid 2px black;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  align-items: center;
}

.item-info {
  padding: 0  15px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
align-items: flex-start;
justify-content: start  ;
text-align: start;
}
.item-destination{
  font-weight: 700;
}
.price{
  font-weight: 700;
}
.labels{
  display: flex;
  gap: 5px;
  
}
.label{
  background-color: #366AC9;
  color: white;
  margin: 5px 0;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
}